body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  padding-bottom: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

.list__item:first-child {
  margin-bottom: 30px;
}

.link__item {
  padding: 10px;

  color: #fafafa;
  background-color: teal;
  border: 1px solid rgb(12, 66, 66);
  border-radius: 2px;
}

.go-back-btn {
  position: fixed;
  left: 10px;
  z-index: 1;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;
  background-color: teal;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  padding-right: 10%;
  padding-left: 10%;
  padding-top: 70px;
  padding-bottom: 20px;
}

.photo-card {
  display: flex;
  flex-direction: column;

  width: calc((100% - 3 * 20px) / 4);
}

.photo-card img {
  flex-grow: 1;

  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-evenly;

  background-color: rgb(212, 240, 230);
}

.info-item {
  text-align: center;
}

.description {
  font-weight: bold;
}

.load-more {
  margin-left: auto;
  margin-right: auto;
}
